.profile__add-button{
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  background: rgba(0, 0, 0, 0) url('../../../images/add-button.svg') no-repeat center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}


.profile__add-button:hover{
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 1200px){
  .profile__add-button{
    background-image: url('../../../images/add-button-s.svg');
    width: 282px;
  }
}
